// Variables

$website-width: 1280px;
$main-color: #535c68;
$light-color: #535c68;
$medium-color: #30336b;
$dark-color: #30336b;
$bd-image: url("../dist/img/fondo.jpg");

//Set Text Color

@function set-text-color($color) {
  @if (lightness($color)) > 50 {
    @return #000;
  } @else {
    @return #fff;
  }
}
